# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables file
.env

# Database (optional)
db.sqlite3

# Firebase service account key (optional, but should be kept secret)
firebase-adminsdk*.json
